:root {
  --CL-black: #000;
  --CL-gray: #5f5f5f;
  --CL-white-off: #ececec;
  --CL-gray-off: #c4c4c4;
  --CL-yellow-off: #faf8a3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

/* Text Align */

.text-center {
  text-align: center;
}

/* Containers */

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* Shadow */

.box-shadow-1 {
  box-shadow: 0 1px 7px rgb(0, 0, 0, 0.3);
}

/* Font Styles */

.fs-italic {
  font-style: italic;
}

/* Item Flex */

.item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Widths */

.w-100 {
  width: 100%;
}

/* Buttons */

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--CL-gray-off);
}

.btn-icon {
  display: grid;
}

.btn:hover > i {
  color: var(--CL-black);
}

.btn-dots {
  margin: 0 0.35em;
}

.btn-reset {
  animation: spin 0.5s linear;
}

.btn-clear:hover {
  color: var(--CL-black);
  text-decoration: underline;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Form */

.form {
  max-width: 35em;
  margin: 0 auto;
}

.form * {
  font-size: 0.9rem;
}

.form-item,
.todo-item {
  padding: 0.7em;
  border-bottom: 1px solid var(--CL-white-off);
}

.form-input {
  border: none;
  outline: none;
  width: 20em;
  max-width: 20em;
}

.form-check {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
}

/* Todo Styles */
.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  overflow: hidden;
}

/* Backgrounds & Colors */

.bg-yellow {
  background-color: var(--CL-yellow-off);
}

.bg-gray-off {
  background-color: var(--CL-gray-off);
}

.bg-white-off {
  background-color: var(--CL-white-off);
}

.color-gray {
  color: var(--CL-gray);
}

@media (min-width: 768px) {
  .form * {
    font-size: 1.1rem;
  }
}
